<!DOCTYPE html>
<html lang="en" xmlns:margin-right="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>Valorant Store Checker</h1>
    <div class="round">
        <div class="center">
             <div style="display: flex; justify-content: space-between;">
              <div style="width: calc(30% - 25px);">
                <img src="{{ image_links[0] }}" alt="Image 1" style="width: 100%; height: auto;">
              </div>
              <div style="width: calc(30% - 25px);">
                <img src="{{ image_links[1] }}" alt="Image 2" style="width: 100%; height: auto;">
              </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <div style="width: calc(30% - 25px);">
                <img src="{{ image_links[2] }}" alt="Image 3" style="width: 100%; height: auto;">
              </div>
              <div style="width: calc(30% - 25px);">
                <img src="{{ image_links[3] }}" alt="Image 4" style="width: 100%; height: auto;">
              </div>
    </div>
</body>
</html>