<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>Valorant Store Checker</h1>
    <div class="round">
        <div class="center">
            <form method="POST" action="/">
                <label>
                    Username <input type="text" name="username" class="center">
                </label>
                <br><br>
                <label>
                    Password <input type="password" name="password" class="center">
                </label>
                <br><br>
                <label>
                    Region <input type="text" name="region" class="center">
                </label>
                <br><br>
                <input type="submit" value="Submit" class="submit">
            </form>
        </div>
    </div>
</body>
</html>